src/main/mule/sampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b721559a-7ee6-412d-888e-131ccd3f725c" >
		<http:listener-connection host="${https.listener.host}" port="${https.private.port}">
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="639b8841-6bfe-4161-9562-62483e4392be" file="properties\dev.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="a370679d-3783-414c-a3ab-84ac5170c458" file="properties\secure-dev.yaml" key="${mule.key}"/>
	<global-property doc:name="Global Property" doc:id="4631affa-5ebd-4bef-8f00-0eed01650564" name="mule.key" value="DEV32132423435WE" />
	<flow name="sampleprojectFlow" doc:id="9ab6fbf4-fcf0-42ea-8cc6-519980c5dc14" >
		<http:listener doc:name="Listener" doc:id="f82a8d19-5ca3-4722-9059-766ef84bfeb4" path="/test" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="a0618805-a8d4-45c4-8e39-85bcf509ad77" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
p('https.listener.host') ++ ":" ++ p('https.port')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="26a9c424-056b-4f29-ae45-c677b32ea3e1" message="#[payload]"/>
	</flow>
</mule>
